.header-container {
    display: flex;
    padding: 1em;
    align-items: center;
}

.logo {
    width: 66px;
    height: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    cursor: pointer;
}

.title-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: #fff;
}

.save-button {
    display: block;
    padding: 0.75rem 2rem;
    background: #007bff;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.save-button:hover {
    background: #0056b3;
}